*.pyc
config*.cfg
DBCA_Districts_4326.gpkg
DBCA_Districts_4326.7z
thermal_image_processing.py.save
thermal_image_processing_bkp.py
venv
tipapp/cache
tipapp/logs/
pending_imports/
data_storage/
thermal_downloads/
thermal_data_processing/
thermal_files_uploaded/
logs/
*.log
log.txt
